__pycache__/
*.py[cod]
*.pyo
*.pyd
*.py.class

venv/
.env/
.venv/
env/
ENV/

*.env
*.ini
*.cfg
*.toml

*.log
*.pot
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db
*.pid
*.mo
*.cache/
*.pytest_cache/

.history/
*.code-workspace

.DS_Store
Thumbs.db
.idea/
*.swp
*.swo
temp_auto_push.bat
temp_interactive_push.bat
.gitignore
